<h1>Edit Character</h1>
<%= form_for @character do |f| %><br>
<%= f.label :name%><br>
<%= f.text_field :name %><br>
<%= f.label :power_level%><br>
<%= f.number_field :power_level %><br>
<%= f.submit %><br>
<% end %><br>